<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

<div class = "person "id="<%= dom_id customer %>">
  <h2>
    <%= customer.name %>
  </h2>


    <p class = "image">
  <%=image_tag customer.image, style: "width: 272px;"%>
  </p>
    <p >
      <%= link_to "Show this customer", customer %>
    </p>

    <p>
    <strong>Number:</strong>
    <%= customer.number %>
  </p>


  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
