<div id="<%= dom_id customer %>">
  <p>
    <strong>Name:</strong>
    <%= customer.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= customer.number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= customer.notes %>
  </p>
  <p>
  <%=image_tag customer.image, style: "width: 200px; display:block"%>
  </p>
</div>
